---
layout: default
permalink: /about
title: About
---
{% include wrap.html %}
<div class="container section justify">
  <div class="row">
    <img src="/assets/img/cybersocks_transparent.png" alt="CyberSOCKS logo" class="center responsive-img col s8 offset-s2" />
  </div>
  <p>UTP-HAX is an acronym for Hackers’ Awaited eXercise initiated by Universiti Teknologi PETRONAS, aimed to be a national-level hacking competition. It is now upgraded to an International level with a new name which is CyberSOCKS Regional Competition. The CyberSOCKS will be based on the model of <a href="{{ site.link.utphax }}" target="_blank">UTP-HAX National Hacking competition</a>.</p>
  <p>CyberSOCKS will be the first International hacking competition which is now under four parties which are <a href="https://www.utp.edu.my" target="_blank">Universiti Teknologi PETRONAS</a>, <a href="https://www.fortinet.com/" target="_blank">FORTINET</a>, <a href="https://www.cybersecurity.my/" target="_blank">CyberSecurity Malaysia</a> and <a href="https://www.kperak.com.my" target="_blank">KPerak Corporation and Coordination</a>. All parties are committed to support students who possesses great minds, creativity and vastly talented. Essentially, students with passions and talents for hacking can be well-trained and later contribute to the world of ethical hacking. Thus, these students need to be tested on their hacking skills in this competition.</p>
  <p>CyberSOCKS is the first step to systematically help students to participate in an International Hacking Competition; hence, providing necessary exposure, guideline, benchmark, experience and expertise. CyberSOCKS is aimed to be an annual International Hacking competition. As such, our presence and active role in the domain of computer security and networking in Malaysia and Asia become apparent. For CyberSOCKS Regional around 20 teams from various local universities and International universities such as from Thailand, Vietnam and Singapore are expected to participate to solve problems relevant to computer security.</p>
  <p>Participants will first compete locally in their respective participating countries which is now called CyberSOCKS Quals on the {{ site.date.quals }}. The winner of these CyberSOCKS Quals will be competing in Malaysia&nbsp;{% include location.html %} for Cybersocks Regional on the {{ site.date.regional }}.</p>
</div>
