---
layout: default
permalink: /contact
title: Contact
---
{% include wrap.html %}
<div class="container section row">
  <div class="col s12">
    For general question or question related to the regional tournament please contact us at <a href="mailto:hello@{{ site.domain }}">&nbsp;<i class="fa fa-send" aria-hidden="true"></i>&nbsp;hello@{{ site.domain }}</a><br>
    <p>
      If you have questions regarding the qualification rounds then please contact one of the organizers below
      <ul>
        {% for country in site.data.country %}
        <li><a href="mailto:{{ country.name | downcase }}@{{ site.domain }}"><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ country.name | downcase }}@{{ site.domain }}</a></li>
        {% endfor %}
      </ul>
    </p>
  </div>
</div>
