---
layout: default
permalink: /contact
title: Contact
---
{% include wrap.html %}
<div class="container section row">
  <div class="col s12 center">
    For general question or question related to the regional tournament please contact us at <a href="mailto:hello@{{ site.domain }}">&nbsp;<i class="fa fa-send" aria-hidden="true"></i>&nbsp;hello@{{ site.domain }}</a><br><br>
  </div>
  <section>
    <div class="row">
      <div class="col s12 m7">
        <div class="card-panel chat-blue contact-links center">
          If you have questions regarding the qualification rounds then please contact one of the organizers below
          <ul>
            {% for country in site.data.country %}
            <li><a href="mailto:{{ country.name | downcase }}@{{ site.domain }}"><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ country.name | downcase }}@{{ site.domain }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="card-panel orange darken-2 contact-links center">
          <span class="black-text">
            Get in touch!<br>
          </span>
          <a href="https://fb.me/utphax" target="_blank"><i class="fa fa-lg fa-facebook-official" aria-hidden="true"></i> Facebook</a>&nbsp;
          <a href="https://twitter.com/utphax_15" target="_blank"><i class="fa fa-lg fa-twitter-square" aria-hidden="true"></i> Twitter</a>
        </div>
        <div class="card-panel cyan lighten-1 center">
          <span class="black-text">
            Contact us on Messenger!<br>
          </span>
          <span class="white-text">
            Scan the image or just plain old click.<br>We'll get back to you shortly.
          </span>
        </div>
      </div>
      <div class="col s12 m5">
        <div class="card-panel chat-purple">
          <div class="card-panel white">
            <a href="https://m.me/utphax" target="_blank"><img src="/assets/img/messenger_code_1444892772472893.png" alt="contact us on messenger" class="responsive-img" /></a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
