---
layout: default
---
<!-- Header -->
<div class="blue-grey lighten-5">
	<div class="container">
		<div class="section flow-text center-align">
			<h1>CyberSOCKS</h1>
			<h4>CyberSOCKS Competition 2016</h4>
		</div>
	</div>
</div>

<!-- Regional Country list-->
<div id="twrap">
	<div id="twrapcover">
		<h3 id="typing">CyberSOCKS Regional Qualification Rounds</h3>
		<p>
			{% for country in site.data.country %}
			<li>{% if country.name != "Malaysia" %}&bull;{% endif %}<a href="{{ country.link }}">&nbsp;&nbsp;{{ country.name }}&nbsp;</a></li>
			{% endfor %}
		</p>
		<p>
			Coming Soon!
		</p>
	</div>
</div>

<!-- Main Sponsors -->
	<div class="center-align">
			<div class="row">
				<h4>CyberSOCKS is brought to you by</h4>
				{% for sponsor in site.data.sponsor %}
				<div class="col s6 m3">
					<a href="{{ sponsor.site }}" target="blank"><img class="focus" src="{{ sponsor.base }}" alt="{{ sponsor.name }}" /></a>
				</div>
				{% endfor %}
		</div>
	</div>
