---
layout: default
permalink: /
---

<div class="blue-grey lighten-5">
	<!-- Header -->
	<div class="container section row center">
		<div class="col s12 m4 offset-m4">
			<img src="/assets/img/cybersocks_transparent.png" alt="CyberSOCKS" class="responsive-img center pad-top" />
			<hr>
		</div>
		<div class="col s12 center flow-text">
			<h3>CyberSOCKS Regional</h3>
			<h6>{% include location.html %}&nbsp;&nbsp;Kuala Lumpur, Malaysia on {{ site.date.regional }}</h6>
		</div>
	</div>

	<!-- Countdown -->
	<div class="bg-clock pad-top">
		<h6>CyberSOCKS starts in</h6><br>
		<div id="clockdiv">
			<div class="clock hoverable">
				<span class="days" id="d"></span>
				<div class="smalltext">Days</div>
			</div>
			<div class="clock hoverable">
				<span class="hours" id="h"></span>
				<div class="smalltext">Hours</div>
			</div>
			<div class="clock hoverable">
				<span class="minutes" id="m"></span>
				<div class="smalltext">Minutes</div>
			</div>
			<div class="clock hoverable hide-on-small-only">
				<span class="seconds" id="s"></span>
				<div class="smalltext">Seconds</div>
			</div>
		</div>
		<div class="pad-top"></div>
		<div class="pad-top"></div>
	</div>
</div>

<!-- Regional Country list-->
<div id="twrap">
	<div id="twrapcover">
		<div class="container-fluid section row center">
			<h4 id="typing">CyberSOCKS Regional Qualification Rounds</h4>
			<div class="col s12">
				{% for country in site.data.country %}
				<li>{% if country.name != "Malaysia" %}&bull;{% endif %}<a href="{{ country.name | downcase }}">&nbsp;&nbsp;{{ country.name }}&nbsp;</a></li>
				{% endfor %}
				<p>{{ site.date.quals }}</p>
			</div>
		</div>
	</div>
</div>

<div class="cyan lighten-3">
	<div class="row row0 pad-center center">
		<br>
		<div class="col s12 m6">
			<h5 class="focus">Participating Teams <i class="fa fa-bar-chart" aria-hidden="true"></i></h5>
			<h6>in the CyberSOCKS Qualification Rounds</h6>
		</div>
		<div class="col s12 hide-on-med-and-up">
			<br>
		</div>
		{% for country in site.data.country %}
		<div class="col s6 m3">
			<div id="{{ country.name }}">fetching data...</div><br><div class="chip">
				<a href="{{ country.name | downcase }}">{{ country.name }}</a>
			</div>
		</div>
		{% endfor %}
	</div>
	<br>
</div>

<!-- Main Sponsors -->
<div class="sponsor-bg">
	<div class="section center row pad-down-large">
		<h5 class="pad-top pad-down">CyberSOCKS is brought to you by</h5>
		{% for sponsor in site.data.sponsors %}
		<div class="col s6 m3">
			<div class="card-panel hoverable blue-grey lighten-5">
				<a href="{{ sponsor.url }}" target="blank"><img class="responsive-img focus" src="{{ sponsor.base }}" alt="{{ sponsor.name }}" /></a>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

<div class="container section row row0 center">
	<div class="col s4 offset-s4">
		<a href="http://tourismperakmalaysia.com/" target="_blank"><img src="/assets/img/tourism-perak-logo.png" alt="Tourism Perak 2017" class="responsive-img" /></a>
	</div>
</div>

<script type="text/javascript">
function getTimeRemaining(endtime) {
	var t = Date.parse(endtime) - Date.parse(new Date());
	var seconds = Math.floor((t / 1000) % 60);
	var minutes = Math.floor((t / 1000 / 60) % 60);
	var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
	var days = Math.floor(t / (1000 * 60 * 60 * 24));
	return {
		'total': t,
		'days': days,
		'hours': hours,
		'minutes': minutes,
		'seconds': seconds
	};
}
var now = new Date();
var current_year = now.getFullYear();
var next_year = current_year + 1;
var target_date = new Date("Dec 9, 2016 10:00:00 GMT+0800").getTime();
var days, hours, minutes, seconds;
var $days = document.getElementById("d");
var $hours = document.getElementById("h");
var $minutes = document.getElementById("m");
var $seconds = document.getElementById("s");
function update() {
		var current_date = new Date().getTime();
		var seconds_left = (target_date - current_date) / 1000;
		days = parseInt(seconds_left / 86400);
		seconds_left = seconds_left % 86400;
		hours = parseInt(seconds_left / 3600);
		seconds_left = seconds_left % 3600;
		minutes = parseInt(seconds_left / 60);
		seconds = parseInt(seconds_left % 60);
		$days.innerHTML = pad(days, 2);
		$hours.innerHTML = pad(hours, 2);
		$minutes.innerHTML = pad(minutes, 2);
		$seconds.innerHTML = pad(seconds, 2);
}
update();
setInterval(update, 1000);
function pad(num, size) {
		var s = num+"";
		while (s.length < size) s = "0" + s;
		return s;
}
</script>
