---
layout: default
title: RESOURCES
permalink: /resources/
---
{% include wrap.html %}
<div class="section row">
  <!-- tabs -->
  <div class="col s12">
    <ul class="tabs">
      {% for tab in site.data.resources %}
      <li class="tab col s3"><a class="black-text" href="#{{ tab.id }}">{{ tab.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <!-- content -->
  {% for res in site.data.resources %}
  <div id="{{ res.id }}" class="col s12">{% include res_{{ res.id }}.html %}</div>
  {% endfor %}
</div>
