---
layout: default
title: RESOURCES
permalink: /resources/
---
{% include wrap.html %}
<div class="section row">
  <div class="col s12 m10 offset-m1">
    <ul class="collapsible popout" data-collapsible="expandable">
      {% for res in site.data.resources %}
      <li>
        <div class="collapsible-header{% if res.id == "programme" %} active{% endif %}"><i class="material-icons">{{ res.icon }}</i>{{ res.name }}</div>
        <div class="collapsible-body"><p>{% include res_{{ res.id }}.html %}</p></div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
