<footer class="page-footer blue-grey darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">CyberSOCKS</h5>
        <p class="grey-text text-lighten-4">Regional Asia Competition</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Qualification Rounds</h5>
        <ul>
          {% for country in site.data.country %}
          <li><a class="grey-text text-lighten-3" href="{{ country.link }}">&nbsp;{{ country.name }}<span class="flag-icon flag-icon-{{ country.code }} left"></span></a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      &copy; 2016 CyberSOCKS
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
