<div class="navbar-fixed hoverable">
  <nav class="blue-grey darken-3">
    <div class="container nav-wrapper">
      <a href="/" class="brand-logo left">CYBERSOCKS</a>
      <a href="/#" data-activates="mobile-nav" class="button-collapse right"><i class="fa fa-bars menu"></i></a>
      <ul id="standard-nav" class="right hide-on-med-and-down">
        {% for nav in site.data.navigation %}
        <li><a href="{{ nav.link }}">{{ nav.menu }}</a></li>
        {% endfor %}
        <li><a class="dropdown-button" href="/resources" data-activates="resc">RESOURCES</a></li>
        <li><a class="dropdown-button" href="/#!" data-activates="quals">QUALS</a></li>
      </ul>
      <ul id="mobile-nav" class="side-nav center-align">
        {% for nav in site.data.navigation %}
        <li><a href="{{ nav.link }}">{{ nav.menu }}</a></li>
        <li><a href="/resources">RESOURCES</a></li>
        {% endfor %}
      </ul>
    </div>
  </nav>
</div>

<!-- QUALS -->
<ul id="quals" class="dropdown-content">
  {% for quals in site.data.country %}
  <li><a href="/{{ quals.link }}">{{ quals.name }}</a></li>
  {% endfor %}
</ul>

<!-- RESOURCE -->
<ul id="resc" class="dropdown-content">
  {% for res in site.data.resources %}
  <li><a href="/resources#{{ res.id }}">{{ res.name }}</a></li>
  {% endfor %}
</ul>
