<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typeit/3.0.1/typeit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/countup.js/1.7.1/countUp.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  console.log( "Welcome to the Cybersocks Regional Competition 2016!" );
});
$('#typing').typeIt({
    lifeLike: true,
    autoStart: false,
    cursor: false
});
$('.button-collapse').sideNav({
  menuWidth: 300,
  edge: 'right',
  closeOnClick: true
});
$('.dropdown-button').dropdown({
  inDuration: 300,
  outDuration: 325,
  constrain_width: false,
  hover: true,
  gutter: 0,
  belowOrigin: true,
  alignment: 'left'
});
$('.modal').modal();
</script>
{% if page.permalink == "/" %}
<script type="text/javascript">
var options = {
  useEasing : true,
  useGrouping : true,
  separator : ',',
  decimal : '.',
  prefix : '',
  suffix : ''
};

var urlmal = 'https://content-sheets.googleapis.com/v4/spreadsheets/1VpqnS5dtsEmUpg-GEsccJ8yq77m1Jv_ydKIRQGSRGiQ/values/A2?key=AIzaSyDOxT5BRuC3_JurGwubSc7buJe25nf3itg';
$.get(urlmal,null,function(data){
  var my = new CountUp("Malaysia", 0, parseInt(data.values[0]), 0, 5, options);
  my.start();
});

var urlvn = 'https://content-sheets.googleapis.com/v4/spreadsheets/1e4PUG314-Qs8fwal3vM_LHzsty8PdDXTa6A2N-KT70M/values/A2?key=AIzaSyDOxT5BRuC3_JurGwubSc7buJe25nf3itg';
$.get(urlvn,null,function(data){
  var vn = new CountUp("Vietnam", 0, parseInt(data.values[0]), 0, 5, options);
  vn.start();
});
</script>
{% endif %}
