/*- Base color -*/
$main-color: #384452;
$secondary-color: #01b2fe;
$background-color: #e3e3e3; // not used
$text-color: #fff;
$black-color: #000;

.page-flexbox-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

a {
  &:hover {
    color: $main-color;
    font-weight: bold;
  }
}
