/*- Base color -*/

$main-color: #384452; // light black - dark grey
$secondary-color: #01b2fe; // light blue
$background-color: #e3e3e3; // silver-ish or can use this bfc9d3
$text-color: #fff; // white, obviously
$link-color: #428bca; // light blue - well, pretty dark compared to secondary-color
$black-color: #000; // obviously black

/* flexbox */

.page-flexbox-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
