/* Navigation bar */

nav {
  font-family: 'Open Sans', sans-serif;
  a:hover {
    color: $secondary-color;
  }
}

.dropdown-content {
  background-color: $main-color;
  li {
    &:hover {
      background-color: $main-color;
    }
    a {
      color: $text-color;
      font-size: 0.9em;
      text-align: center;
      &:hover {
        color: $secondary-color;
        background-color: $main-color;
      }
    }
  }
}

/* Img Focus Zoom */

.focus {
  @include prefix((
    transform: scale(1, 1),
    transition-duration: 0.3s
  ));
  &:hover {
    z-index: 1;
    cursor: pointer;
    @include prefix((
      transform: scale(1.3, 1.3),
      transition-duration: 0.3s
    ));
  }
}

.focus-large {
  @include prefix((
    transform: scale(1, 1),
    transition-duration: 0.3s
  ));
  &:hover {
    z-index: 1;
    cursor: pointer;
    @include prefix((
      transform: scale(2, 2),
      transition-duration: 0.3s
    ));
  }
}

/* Footer */

footer {
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 0.35em;
    background-color: $secondary-color;
  }
}

/* Custom */

.justify {
  text: {
    align: justify;
    justify: inter-word;
  }
}

.bold {
  font-weight: bold;
}

.chat-purple { background: #7986cb; color: white; a { color: $black-color; } }
.chat-blue { background: $secondary-color; }
.contact-links {
  a {
    color: #fff;
    &:hover {
      color: $main-color;
      font-weight: bold;
    }
  }
}

.pad-top {
  padding-top: 20px;
}
.pad-down {
  padding-bottom: 20px;
}
.pad-down-large {
  padding-bottom: 50px;
}
