/* Wrapper */

#bwrap {
  background: $secondary-color;
  padding-top: 25px;
  padding-bottom: 25px;
  h3 {
    color: $text-color;
    margin-left: 15px;
  }
}

#twrap {
  background: url(https://utphax.cyberhax.club/assets/img/t-back.jpg) no-repeat center top;
  position: relative;
  min-height: 200px;
  width: 100%;
  @include prefix((background-size: 100%));
  @include prefix((background-size: cover));
}

#twrapcover {
  background-color: rgba($secondary-color, .75);
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  h3 {
    padding-top: 50px;
    color: $text-color;
  }
  li {
    display: inline;
    font-weight: bold;
    a {
      color: $black-color;
      &:hover {
        color: $text-color;
      }
    }
  }
}

/* Navigation bar */

nav {
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 0.25em;
    background-color: $secondary-color;
  }
}

/* Img Focus Zoom */

.focus {
  margin: 10px;
  @include prefix((
    transform: scale(1, 1),
    transition-duration: 0.3s
  ));
  &:hover {
    z-index: 1;
    cursor: pointer;
    @include prefix((
      transform: scale(1.3, 1.3),
      transition-duration: 0.3s
    ));
  }
}

/* Footer */

footer {
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 0.35em;
    background-color: $secondary-color;
  }
}
